@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar li {
    padding: 0 10px;
    position: relative;
}

.navbar li a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: '';
    width: 35%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

/* Hero Start */
#hero {
    background-image: url('img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url('img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 700;
}

/* Feature Start */
#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.3s ease;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    border-radius: 10px;
}


#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

#feature .fe-box img:hover {
    transform: scale(1.1);

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 12px 8px;
    line-height: 1px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* Feature Products Start */

#fe-products {
    text-align: center;
}

.pro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.pro-container .pro {
    width: 23%;
    max-width: 280px;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    flex: 1 0 calc(23% - 20px);
}

.pro-container .pro:hover {
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.4);
}
.pro-container .pro img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: 0.3s ease;
}
.pro-container .pro img:hover{
    transform: scale(1.1);
    border-radius: 8px;
}

.pro-container .pro .des {
    text-align: start;
    padding: 10px 0;
}

.pro-container .pro .des span {
    font-size: 12px;
    color: #606063;
}

.pro-container .pro .des h5 {
    font-size: 14px;
    color: #1a1a1a;
    padding-top: 7px;
 }

 .pro-container .pro .des .star i {
    font-size: 12px;
    color: rgba(243, 181, 25);
    font-weight: 700;
 }

 .pro-container .pro .des .star i:hover {
    color: rgba(150, 100, 25);
 }

 .pro-container .pro .des p {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
 }

.pro-container .pro .cart {
    background-color: #cce7d0;
    color: #088178;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
}

.pro-container .pro .cart:hover {
    color: #1a1a1a;
}


/* Hero Start */